.project-container {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head{
  overflow: hidden;
}

.project-right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 700px;
}

.project-left {
  margin: 0;
  background-color: var(--green);
  opacity: 0.3;
  border-radius: 12px;
  transition: var(--transition);
}
.project-left:hover {
  opacity: 1;
}
.project-left img {
  /* position: relative; */
  opacity: 0.3;
  display: block;
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 12px;
  transition: var(--transition);
}
.project-left img:hover {
  opacity: 1;
}
.project-right {
  /* width: 80%; */
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: -150px;
  max-width: 600px;
  z-index: 10;
}
.Project-Featured {
  font-size: 0.9rem;
  color: var(--green);
  font-family: var(--font-mono);
  font-weight: 400;
}
.Project-title {
  margin-top: 10px;
  font-size: 1.3rem;
  color: var(--white);
  font-family: var(--font-sans);
}

.Project-des {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fz-md);
  margin-top: 20px;
}

.tech {
  width: 80%;
  color: var(--light-slate);
  font-size: 0.8rem;
  font-family: var(--font-mono);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech li {
  list-style: none;
}
.link a {
  margin-right: 10px;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
}

.homie-link-project {
  color: var(--white);
}
.homie-link-project:hover {
  color: var(--green);
}
.hiddin{
  display: none;
}
@media (max-width: 768px) {
  .hiddin{
    display:block;
  }
  .unhiddin{
    display:none;
  }
  .project-left-flip{
    display: none;
  }
  .projects {
    margin-top: 100px;
    display: block;
  }
  .project-main-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-container {
    max-width: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-left {
    max-width: 95%;

  }
  .project-left img {
    opacity: 0.7;
  }
  .project-left,.project-left-flip {
    /* display: none; */
    position: absolute;
    opacity: 0.1;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);

  }
  .project-right-content {
    border-radius: var(--border-radius);
    /* background-color: var(--light-navy);
    background-color: rgb(4, 34, 43); */
    /* background: url("./dell.jpg") no-repeat center / cover; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    transition: var(--transition);
  }
  .project-right {
    margin-left: 0;
    margin-top: 30px;
  }
  .Project-title {
    margin-top: 5px;
  }
  .Project-des {
    position: relative;
    padding: 0;
    border-radius: none;
    background: transparent;
  }
  .tech {
    padding: 0;
  }
}

@media (max-width: 1080px) {
  .projects {
    margin-top: 100px;
  }
}
