.contact-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container h2 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
  font-size: clamp(40px, 5vw, 60px);
}

.contact-des {
  max-width: 570px;
  text-align: center;
  margin: 0;
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.7;
}

/* ----------------Media Queries--------------- */

@media (max-width: 768px) {
  .contact-des {
  padding: 10px 30px;

  }
  
}
