.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.footer-text a{
    color: var(--main);
    font-size: .8rem;
    font-family: var(--font-mono);
    transition: all 0.25s;
}
.footer-text a:hover{
    color: var(--green);
}
.footer-links{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-links a{
padding: 20px;
}

.footer-links a svg{
    width: 20px;
    height: 20px;
}
.footer-links a svg:hover{
stroke: var(--green);
}