.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.footer-text a {
  color: var(--main);
  font-size: 0.8rem;
  font-family: var(--font-mono);
  transition: all 0.25s;
}
.footer-text a:hover {
  color: var(--green);
}
.footer-links {
  display: none;
}

.footer-links a {
  padding: 20px;
}

.footer-links a svg {
  width: 20px;
  height: 20px;
}
.footer-links a svg:hover {
  stroke: var(--green);
}

@media (max-width: 768px) {
  .footer-links {
    display: flex;
    
    justify-content: center;
    align-items: center;
  }

}
