.content-main {
    padding: 0px 150px;
    /* justify-content: space-between; */
  }
  

  

/* ----------------Media Queries--------------- */


@media (max-width: 768px) {

  .content-main {
    padding: 0px 20px;

  }
  
}

@media (max-width: 1080px) {
  .content-main{
    padding: 0 100px;
  }

}
